{% extends "base.html" %}

{% block title %}Url Shortener{% endblock %}
{% block style %}resources/style.css{% endblock %}

{% block content %}
<div id="container">
    <h1 id="title">Login</h1>
    <form class="account-form" action="/login" method="post">
        <div>
            <label for="usr">Username:</label>
            <input id="usr" type="text" name="username">
        </div>
        <div>
            <label for="pwd">Password:</label>
            <input id="pwd" type="password" name="password">
        </div>
        <button type="submit">Login</button>
    </form>
    {% if err %}
        <p class="error-msg">{{ err }}</p>
    {% endif %}
</div>
<p></p>
{% endblock %}
